*{
    font-family:fantasy;
}
 body {
    font-size:24px;
    background-color :beige;
} 
#first{
    color : blueviolet;
}
.purple{
    font-family:monospace;
    color :brown;
}
.highlightkaro{
  background-color:yellow;
  font-weight:bolder;
  font-style:italic;
}
/* yea hai grouping selector */
#first , #second {
    color:red;
}
/* aur yea hai nested sellector */
#first>p{
    color:black;
}
p:hover{
    font-family:monospace;
}